/*General*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200&family=Poppins:wght@100&display=swap');

/*Code below (html, body) is taken from URL: https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
html, body {
	max-width: 100%;
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	border: none;
}
body {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	background-color: #FAFFFD;
	scroll-behavior: smooth;
}
h1, h2, h3 {
	font-family: "Bebas", Neue sans-serif;
}
p {
	font-family:"Poppins", sans-serif;
}
.header {
	height: 74px;
	width: 100%;
	background-color: #FAFFFD;
	padding: 15px;
}
/* header */
#menu, #logo {
	line-height: 75px;
}
#logo {
	float: left;
	margin-left: 50px;
	font-size: 380%;
	text-decoration: none;
	color: #161616;
}
#menu {
	font-size: 110%;
	letter-spacing: 4px;
}
#menu li {
	float: right;
	list-style-type: none;
	margin-right: 30px;
	color: #161616;
}
#menu a {
	font-size: xx-large;
	text-decoration: none;
	color: #161616;
}
#menu a:hover {
	color:aqua;
}
.active {
	border-bottom: 1px solid #161616;
}
/*main page*/

#hero {
	height: 300%;
	width: 100%;
	overflow:hidden;
}
#aboutbanner {
	height: 200%;
	width: 100%;
	overflow:hidden;
}
#workbanner {
	height: 100%;
	width: 100%;
	overflow:hidden;
}
.aboutheading {
	font-size: 300%;
	float: left;
	text-align: left;
	font-family: "Dosis", sans-serif;
}
.aboutheading > p {
	font-family: "Dosis", sans-serif;
	font-size: 30%;
	float: left;
	text-align: left;
}
.aboutheading > h3 {
	font-family: "Dosis", sans-serif;
	font-size: 10%;
}
.aboutsection {
	font-size: 300%;
	float: left;
	text-align: left;
	margin-bottom: 5%;
}
.contactheading {
	font-size: 300%;
	float: left;
	text-align: left;
	font-family: "Dosis", sans-serif;
}
.contactheading > p {
	font-family: "Dosis", sans-serif;
	font-size: 30%;
	float: left;
	text-align: left;
}
.aboutsection > h3 {
	font-family: "Dosis", sans-serif;
}
.aboutsection > p {
	font-family: "Dosis", sans-serif;
	font-size: 30%;
	float: left;
	text-align: left;
}
#mainsection {
	height: 600px;
	display:flex;
	align-items: center;
	margin-top: 50px;
}
.description, .validationpage {
	font-size: 200%;
	text-align: center;
	margin-top: 50px;
	color: #161616
}
.validationpage {
	margin-left: 20%;
}
/* gallery */
#photos {
	clear: both;
	line-height: 0;
	column-count: 3;
	column-gap: 0;
}
#photos > img {
	width: 100%;
}
/* contact page */
.form {
	float: right;
}
input[type=text]{
	width: 50%;
	border: 2px solid #161616;
	margin: 5px;
	padding: 10px;
}
input[type=tel]{
	width: 50%;
	border: 2px solid #161616;
	margin: 5px;
	padding: 10px;
}
.message{
	width: 50%;
	border: 2px solid #161616;
	margin: 5px;
	padding: 10px;
}
input[type=submit]{
	background-color: lightgray;
	width: 50%;
	height: 50px;
	padding: 10px;
}
/*background div (contact page)*/
.containertwo {
	height: 800px;
	padding:100px;
	border-style: solid;
	border-color:lightgrey;
	border-width: 2px;
	background-color:#ffff;
	margin: auto;
	width: 80%;
}
/* footer */
footer {
	height: 150px;
	margin: 10px;
}
.socials {
	text-align: center;
}
.socials > li {
	display: inline;
}
.socials i {
	font-size: 200%;
	margin: 1%;
	padding: 4%;
	color: #161616
}
.fa-youtube:hover {
	color: #FF0000;
}
.fa-square-twitter:hover {
	color: #1DA1F2;
}
.fa-facebook:hover {
	color: #4267B2;
}
.fa-instagram:hover {
	color: #833AB4;
}
.foot {
	text-align: center;
	position: relative;
	top: 50px;
}
/* footer for contact page */
.contactfoot {
	text-align: center;
	position: relative;
	top: 50px;
}
.contactsocials {
	text-align: center;
}
.contactsocials > li {
	display: inline;
}
.contactsocials i {
	font-size: 200%;
	margin: 1%;
	padding: 4%;
	color: #161616
}
/* media queries */
/*for larger screens */
@media screen and (max-width: 1280px) {
	#photos {
		column-count: 2;
	}
	#photos > img {
		width: 106%;
	}
	.foot, .contactfoot {
		text-align: center;
		position: relative;
		top: 30px;
	}
	.socials, .contactsocials {
		text-align: center;
		font-size: 200%;
	}
}
/* for medium screens */
@media screen and (max-width: 950px) {
	#hero {
		height: 600px;
		width: 131%;
		margin-left: -16%;
		overflow: hidden;
	}
	#aboutbanner {
		width: 132%;
		margin-left: -16%;
	}
	#workbanner {
		width: 131%;
		margin-left: -16%;
	}
	.foot {
		top: 0px;
	}
	#photos > img {
		width: 107%;
	}
	#photos {
		column-count: 1;
	}
	.containertwo {
		height: 893px;
		width: 80%;
	}
	.contactfoot {
		top: 18px;
	}
	input[type=text] {
		width: 80%;
	}
	input[type=tel] {
		width: 80%;
	}
	.message {
		width: 80%;
	}
	input[type=submit] {
		width: 85%;
	}
	.socials, .contactsocials {
		text-align: center;
		font-size: 160%;
	}
}
@media screen and (max-width: 768px) {
	#hero {
		height: 600px;
		width: 131%;
		margin-left: -16%;
		overflow: hidden;
	}
	#aboutbanner {
		width: 132%;
		margin-left: -16%;
	}
	#workbanner {
		width: 131%;
		margin-left: -16%;
	}
	.foot {
		top: 17px;
	}
}
@media screen and (max-width: 540px) {
	#logo {
		margin-left: 26%;
		font-size: 480%;
	}
	.aboutheading, .aboutsection {
		font-size: 200%;
	}
	#photos {
		column-count: 1;
		line-height: 0;
	}
	#photos > img {
		width: 105%;
		margin-top: 0%;
	}
	.containertwo {
		height: 925px;
		background-color: #FAFFFD;
		border: none;
	}
	.contactheading {
		font-size: 170%;
		margin-left: -10%;
	}
	.form {
		margin-left: -20%;
	}
	.header {
		height: 20px;
		width: 100%;
		background-color: #FAFFFD;
		padding: 15px;
	}
	#menu li {
		float: right;
		list-style-type: none;
		margin-right: 45px;
	}
	.foot {
		top: 0px;
	}
}
/* for smaller screens */
@media screen and (max-width: 480px) {
	#logo {
		margin-left: 15%;
	}
	#menu {
		letter-spacing: -1px;
		clear: left;
		float: left;
		margin-left: 7%;
		margin-bottom: 40px;
		line-height: 25px;
		font-size: 10%;
		display: flex;
		flex-direction: row-reverse;
	}
	#menu a {
		font-size: x-large;
	}
	#hero {
		height: 239px;
		width: 121%;
	}
	#aboutbanner {
		height: 239px;
		width: 121%;
	}
	#workbanner {
		height: 227px;
		width: 121%;
	}
	.foot {
		top: 4px;
	}
	.aboutheading {
		font-size: 100%;
		margin-left: 20%;
	}
	.aboutsection {
		font-size: 100%;
		margin-left: 20%;
	}
	.socials {
		margin-left: 0%;
	}
	.description, .validationpage {
		font-size: 100%;
		text-align: center;
		margin-top: -99px;
		color: #161616;
		margin-left: -15%;
	}
	.containertwo {
		height: 0%;
		padding: 100px;
		border-style: none;
		border-color: lightgrey;
		border-width: 0;
		background-color: #ffff;
		margin: auto;
		width: 65%;
		margin-top: -20%;
		margin-left: -10%;
	}
	.contactfoot {
		text-align: center;
		position: relative;
		top: 12px;
		font-size: small;
		right: 12%;
	}

    .socials, .contactsocials {
        font-size: 120%;
    }

	.aboutheading > p, .aboutsection > p {
		font-size: 140%;
	}
	.form {
		margin-left: 0%;
	}
	input[type=text] {
		width: 100%;
	}
	input[type=tel] {
		width: 100%;
	}
	.message {
		width: 100%;
	}
	input[type=submit] {
		width: 110%
}
	.contactheading {
		font-size:300% ;
		margin-left: 1%;
	}
}

@media screen and (max-width: 390px) {
	.header {
		height: 112px;
		padding: 0px;
		overflow: hidden;
		background-color: white;
		margin-bottom: 30%;
	}
	#logo {
		margin-left: 15%;
	}
	#menu {
		letter-spacing: 0px;
		clear: left;
		float: left;
		margin-left: 7%;
		margin-bottom: 40px;
		line-height: 25px;
		font-size: 10%;
		display: flex;
		flex-direction: row-reverse;
	}
	.foot {
		top: 4px;
	}
	.aboutheading {
		font-size: 100%;
	}
	.aboutsection {
		font-size: 100%;
	}
	.socials, .contactsocials {
		text-align: center;
		font-size: 100%;
	}
	#menu a {
		font-size: 23px;
	}
	#photos {
		column-count: 1;
		line-height: 14;
	}
	#photos > img {
		width: 105%;
		margin-top: -30%;
	}
}
@media screen and (max-width: 340px) {
	#menu li {
		float: left;
		list-style-type: none;
		margin-right: 19px;
		color: #161616;
	}
	.contactheading {
		font-size: 200%;
	}
	#photos {
		column-count: 1;
		line-height: 13;
	}
}
@media screen and (max-width: 280px) {
	.contactfoot {
		top: 0%;
		left: 1%;
	}
	.socials {
		margin-left: 0%;
	}
	#logo {
		margin-left: 47px;
		font-size: 300%;
	}
	#hero {
		height: 239px;
		width: 218%;
		margin-left: -56%;
	}
	#aboutbanner {
		height: 239px;
		width: 216%;
		margin-left: -56%;
	}
	#workbanner {
		height: 227px;
		width: 216%;
		margin-left: -54%;
	}
	#photos {
		column-count: 1;
		line-height: 0;
		margin-top: 0%;
	}
	#photos > img {
		width: 140%;
	}
	#menu {
		margin-left: 7%;
	}
	#menu a {
		font-size: 20px;
		text-decoration: none;
		color: #161616;
	}
	#menu li {
		margin-top: -5%;
	}
	#logo {
		margin-left: 47px;
	}
	.form {
		margin-left: -10%;
		width: 100%;
		float: none;
	}
}
