* {
    margin: 0; padding: 0; border: none; }
    
body {font-family: 'Poppins' sans-serif; font-weight: 300;}

h1, h2, h3 {font-family: 'Bebas' sans-serif;}

p {font-family:'Poppins' sans-serif;}

/*menu */

#menu, #logo {line-height: 75px;}

#logo {float: left; 
    margin-left: 50px; 
    font-size: 380%; 
    text-decoration: none; 
    color: #161616;}

#menu {font-size: 110%; letter-spacing: 4px; }

#menu li {float: right; list-style-type: none; margin-right: 30px; color: #161616;}

#menu a {font-size: xx-large; text-decoration: none; color: #161616;}

#menu a:hover {color:aqua;}

.active {border-bottom: 1px solid #161616;}

/*main section*/
#hero {
    height: 600px; 
    width: 100%; 
    background: url('../Images/heroimg/hero.jpeg') 
    no-repeat center center; 
    overflow:hidden;
}

.portfolio {background-color: #161616}


/* footer */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@1,200&display=swap');